.search-bar{
    display: block;
}



.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 30px;

}

.video-preview{
    margin-bottom: 12px;
}

.thumbnail{
    width: 100%;
}

.thumbnail-row{
    position: relative;
    margin-bottom: 4px;
}


.video-title{
    margin-top: 12px;
    font-size: 16px;
}


.video-author{
    color: rgb(96, 96, 96);
    font-size: 14px;
    font-weight: 400;
}

.video-author:hover{
    color: rgb(3, 3, 3);
}

.video-author-container{
    position: relative;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    margin-top: 8px;
}

.video-author-container .tooltip{
    position: absolute;
    background-color: rgba(97, 97, 97, 1);
    color: white;
    padding: 8px;
    font-family: 'roboto', Arial, sans-serif;
    font-size: 12px;
    border-radius: 2px;
    top: -40px;
    opacity: 0;
    transition: all 150ms;
    pointer-events: none;
    white-space: nowrap;
}

.video-author-container:hover .tooltip{
    opacity: 0.9;
}

.video-stats{
    margin-top: 2px;
    color: rgb(96, 96, 96);
    font-size: 14px;
    font-weight: 400;
}


.profile-picture{
    width: 36px;
    border-radius: 18px;
}



.video-info-grid{
    display: grid;
    grid-template-columns: 46px 1fr;
}


.channel-picture{
    display: inline-block;
    width: 46px;
    vertical-align: top;
    margin-top: 12px;
}


.video-info{
    display: inline-block;
    width: 100%;
}

.video-time{
    padding: 3px 4px;
    font-family: 'roboto', Arial, sans-serif;
    font-weight: 500;
    color: white;
    background-color: black;
    position: absolute;
    bottom: 6px;
    right: 4px;
    cursor: pointer;
}

@media (max-width: 530px){
    .video-grid{
        grid-template-columns: 1fr;
    }
}

@media (min-width: 531px) and (max-width: 890px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 891px) and (max-width: 1139px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (min-width: 1140px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
